
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.div1{
    height: 460px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
}
img{
    width: 260px;
    border-radius: 10px;
    margin-left:18px ;
    margin-top: 21px;

}
#p1{
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    text-align: center;
    width: 270px;
    font-weight: 600;
    font-family: Outfit;
    padding-left: 30px;
}

#p2{
    font-size: 15px;
    color:  hsl(216, 15%, 48%);
    width: 260px;
    text-align: center;
    padding-left: 30px;
    font-family: Outfit;
}
